.contador{
    gap: 6px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.contador__p{
    font-size: 1em;
    margin: 5px;
}

.boton__comprar{
    color: white;
    background-color: rgb(95, 95, 207);
    margin: 5px;
    font-size: 20px;
}

.div{
    text-align: center;
}


